<!doctype html>
<html lang="es">
<%- include ("partials/head") %>
<body>
    <div>
        <%- include ("partials/header") %>
        <%- include ("partials/navbar") %>
        <div class="container-lg richBlack text-white p-4 rounded-4 my-4" id="miElemento">
            <% if(pag === "aboutus"){ %>
                <%- include ("partials/info/aboutus") %>
            <% }else if (pag === "ourteam") {%>
                <%- include ("partials/info/ourteam") %>
            <% }else if (pag === "workhere") {%>
                <%- include ("partials/info/workhere") %>
            <% }else if (pag === "students") {%>
                <%- include ("partials/info/students") %>
            <% }else if (pag === "elders") {%>
                <%- include ("partials/info/elders") %>
            <% }else if (pag === "familys") {%>
                <%- include ("partials/info/familys") %>
            <% }else if (pag === "legalpolicy") {%>
                <%- include ("partials/info/legalpolicy") %>
            <% }else if (pag === "cookies") {%>
                <%- include ("partials/info/cookies") %>
            <% }else if (pag === "privacy") {%>
                <%- include ("partials/info/privacy") %>
            <% } else { %>
                <h1> Aqui no hay nada que ver ... </h1>
            <% } %>
        </div>          
    </div>    
    <%- include ("partials/footer") %>
</body>

</html>