<!doctype html>
<html lang="es">
    <%- include ("partials/head") %>
<body>
    <div>
        <%- include ("partials/header") %>
        <%- include ("partials/navbar") %>
        
        <div class="container-lg bg-info text-white p-4" id="miElemento">
            <!-- Futuras paginas -->
            <%-resultado[0].codigo%>
            <%console.log(resultado[0].codigo)%>
        </div>    
        
    </div>    
    <%- include ("partials/footer") %>
</body>

</html>