<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head") %>
  <body>
    <div>
      <%- include ("partials/header") %>
      <%- include ("partials/navbar") %>

      <div style="max-width:100%; overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <%- include ("partials/carousel") %>
          </div>
          <!--INFO DESTINO DE LA BBDD-->
          <div class="col me-4 ">
            <div class="oldrose p-4 rounded-4 mt-4 row">
              <div class="fw-bold">
                <h1 class="text-center p-3"> <%=resultado.nombre%> </h1>
              </div>
              <div>
                <p class="h5"> <%=resultado.description%> </p>
              </div>
            </div>
            <!--RESERVA-->
            <div class="row my-2">
              <div class="resVuelo skobeloff rounded-4">
                <form id="form" method="POST" action="submitForm?data=<%=resultado.nombre%>">
                  <div class="row m-auto">
                    <div class="col-md-2 form-group">
                      <label for="fecha-ida">Fecha de Ida:</label>
                      <input type="date" class="form-control" id="fecha" name="fecha" required>
                    </div>
                    <div class="col-md-2 form-group">
                      <label for="nombre">Nombre:</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
                        required>
                    </div>
                    <div class="col-md-2 form-group">
                      <label for="correo">Correo:</label>
                      <input type="email" class="form-control" id="correo" name="correo" placeholder="@gmail.com"
                        required>
                    </div>
                    <div class="col ">
                      <button type="submit" id="submitButton" class=" btn naplesyellow ms-4 my-4 btn-lg"
                        style="height: 3em; width: 75%;">Registrar Vuelo</button>
                    </div>
                  </div>
                </form>
                <%if(resultado.error){%>
                  <h4 class="text-white rounded-2 text-center font-weight-bold bg-danger">El destino no existe</h4>
                <%}%>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ("partials/footer") %>
  </body>
  <script src="../javascripts/comprobarForm.js"> </script>
</html>