<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body>
    <div class="fakeBody pistachio">
      <%-include('partials/header')%>
      <div class="row pistachio  mx-2">
        <h1 id="mainTitle" data-id="<%=idTipo%>">Sistema de reservas</h1>
        <div class="scrollable-bookings">
            <% if(user.admin === 1) { %>
              <div class="row">
                <div class="col">
                  <h4 class="my-3">Facultad:</h4>
                  <select class="w-25" id="facultad" name="facultad"  required>
                    <option hidden>Selecciona una opción</option>
                  </select>
                </div>
              </div>
            <% } %>
          <div id="titleRow" class="row">
            <h1 id="title" data-id="<%=ini%>#<%=fin%>"><%=nombre%> - <%=tipo%></h1>
            <% if(installations.length === 0) { %>
              <h2 id="emptyMessage" class="red text-center my-5"> No existe ninguna instalación de este tipo en tu facultad </h2>
                <div id ="emptyDiv" class="d-flex align-items-center justify-content-center">
                    <a href="/"><button type="button" class="btn btn-large btn-primary">Volver</button></a> 
                </div>
            <% } %>
          </div>
          <div class="row scrollable-x">
            <div  class="d-flex justify-content-between ">
            <%
              const limite = 10;
              for (let indice = 0; indice < limite; indice++) {
                const ele = installations[indice] || {};
            %>
              <div class="col instalacion installationCard rounded-5 text-center me-2 <%= indice >= installations.length ? 'd-none' : '' %>" data-id="<%= ele.id || '' %>">
                <br>
                <h3 class="nombreInstalacion"><%= ele.nombre || '' %></h1>
                <h5 class="aforoInstalacion mt-4">Aforo máximo: <%= ele.aforo || '' %></h5>
              </div>
            <% } %>
            </div>
          </div>
          <div id="optionsContainer" class="row my-2 d-none">
            <div class="col" id="numeroContainer">
              <h4 class="my-3">Numero de usuarios:</h4>
              <input id="aforo" type="number" name="numero" placeholder="Usuarios" min="1" required>
            </div>
            <div class="col" id="calendarContainer">
              <h4 class="my-3">Calendario:</h4>
              <input id="calendario" type="date" name="dia" placeholder="Día" required>
            </div>
          </div>

      <div id="horario" class="container d-none">
        <h4 class="my-3">Horas:</h4>
        <div class="row m-2 d-flex justify-content-center claret rounded-4 p-5 my-3">
          <div id="9"  class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">9:00</h5></div>
          <div id="10" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">10:00</h5></div>
          <div id="11" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">11:00</h5></div>
          <div id="12" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">12:00</h5></div>
          <div id="13" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">13:00</h5></div>
          <div id="14" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">14:00</h5></div>
          <div id="15" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">15:00</h5></div>
          <div id="16" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">16:00</h5></div>
          <div id="17" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">17:00</h5></div>
          <div id="18" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">18:00</h5></div>
          <div id="19" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">19:00</h5></div>
          <div id="20" class="hora rounded-1 mx-2 col disponible hoursDiv"><h5 class="hoursText">20:00</h5></div>
        </div>
        <button id="enviar" class="btn btn-primary float-end me-2 btn-lg ">Reservar</button>
        <dl class="ms-3 mt-4">
          <dt class="ocupado rounded-2"></dt>
          <dd>Ocupado</dd>
          <dt class="noDisponible rounded-2"></dt>
          <dd>No disponible</dd>
          <dt class="reservado rounded-2"></dt>
          <dd>Mis reservas</dd>
          <dt class="disponible rounded-2"></dt>
          <dd>Disponible</dd>
          <dt class="seleccionado rounded-2"></dt>
          <dd>Seleccionado</dd>
        </dl>

        <h2>Mis reservas:</h2>
        <div class="col ">
          <% if(reservas.length === 0) { %>
            <h2 class="red text-center my-5"> No tienes ninguna reserva </h2>

          <%} %>
          <% reservas.forEach(ele => { %>
            <div class=" whitesmoke row text-center p-2 rounded-2 m-2">
              <div class="col">
                <h5>Dia <%=ele.fecha.toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: '2-digit', hour: '2-digit', minute: '2-digit' }).split(",")[0]%> en <%=ele.nombre%> de <%=ele.ini%>:00 a <%=ele.fin+1%>:00 </h5>
              </div>
              <div class="col">
                <a class="cancelReservation red" data-id="<%=ele.id%>" href="#" ><strong>Cancelar reserva</strong></a>
              </div>
            </div>  
          <% }) %>
          </div>
      </div>

    </div>
  </div>
      
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header ">
              <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Registro</h1>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
              <button id="refrescar" type="button" data-bs-dismiss="modal" class="btn btn-primary">Entendido</button>
            </div>
          </div>
        </div>
      </div>

      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Atención</strong>
            <small>justo ahora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            
          </div>
        </div>
      </div>
    </div> 
    <script src="/javascripts/calendar.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
