<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body >
    <%-include('partials/header') %>
    <div class="col" style="background-color: #BFB48F;">

      <div class="row">
        <h1 class="ms-2">Mensajes</h1>        
      </div>

      <div class="row mx-4" style="max-height: 80vh;background-color: #BFB48F; height:2000px">
        <div id="listar" class="col rounded-4 " style="background-color: whitesmoke" >
          <div class="row text-center p-3">
            <div class="col border-end"><h4>Principal</h4></div>
            <div class="col border-end"><h4>Favoritos</h4></div>
            <div class="col "><h4>Archivados</h4></div>
          </div>
          <hr style="margin-top:0">

          <% emails.forEach(ele => { %>
            <div class="rowMail row mx-2 <%if(ele.leido===0) { %> noLeido <% } else { %> leido <% } %>" data-id="<%=ele.id%>">
              <div class="col-1"><span><%=ele.nombreOrigen %></span></div>
              <div class="col-8"><span><%=ele.asunto %></div>
              <div class="col-2"><span><%=ele.fecha%></div>
              <div class="col-1"><span><%=ele.hora%></div>
            </div>
          <% }) %>
        </div>
        <!-- d-none justo debajo -->
        <div id="mostrar"  class="col rounded-end-4" style="background-color:whitesmoke;">
            <button class="btn-close float-end me-2 mt-3" aria-label="Cerrar" data-bs-dismiss="lector"> </button>
          <div id="asunto" class="row d-flex justify-content-between my-3">
              <h3>Asunto</h3>
          </div>

          <div class="w-50 shadow-25 row ms-3 bg-secondary rounded-3 p-2 d-flex align-items-center">
            <div class="col-2">
              <img src="/images/noPicture.jpg" alt="imagen" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; object-position: center;">
            </div>
            <div class="col-10">
              <div class="row ms-1">
                <h5> Paco Martinez Ortigueira </h5>
              </div>
              <div class="row ms-1">
                <h5>pacoma@ucm.es</h5>
              </div>
            </div>          
          </div>

          <div class="row my-3">
            <div class="col">
            </div>
            <div class="col">
              <div class="row">
                <div class="col rounded-1 bg-info">s</div>
                <div class="col rounded-1 bg-info">s</div>
                <div class="col rounded-1 bg-info">s</div>
              </div>
            </div>
            
            <div class="col">
              <div style="font-weight: bold;" class="row justify-content-center ">
                24/05/2023 14:27
              </div>
              <hr class="m-0 me-2">
            </div>
          </div>
          <div id="cuerpo" style="text-align: justify; font-family: Arial, Helvetica, sans-serif;" class="text-justify me-2 p-4 row rounded-1 ms-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, eum cupiditate. Maiores facilis adipisci delectus qui. Vero facere omnis repellendus iste aliquid quia quos rem, quibusdam sunt! Impedit, reiciendis cupiditate!
          </div>
          
        </div>
      </div>
    </div>   
    <script src="../javascripts/mydriver.js"></script>
    <script src="../javascripts/mails.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
