<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body >
    <%-include('partials/header') %>
    <div class="col" style="background-color: #BFB48F;">

      <div class="row">
        <h1 class="ms-2">Mensajes</h1>        
      </div>

      <div class="g-0 p-0 row mx-4" style="max-height: 80vh;background-color: #BFB48F; height:2000px">
        <div id="listar" class="col rounded-4 " style="background-color: whitesmoke" >
          <div class="row text-center p-3">
            <div class="col border-end"><h4>Principal</h4></div>
            <div class="col border-end"><h4>Favoritos</h4></div>
            <div class="col "><h4>Archivados</h4></div>
          </div>
          <hr style="margin-top:0">

          <% emails.forEach(ele => { %>
            <div class="rowMail row mx-2 <%if(ele.leido===0) { %> noLeido <% } else { %> leido <% } %>" data-id="<%= ele.id %>">
              <div class="col-1"><span><%=ele.nombreOrigen %></span></div>
              <div class="col-8"><span><%=ele.asunto %></div>
              <div class="col-2"><span><%=ele.fecha%></div>
              <div class="col-1"><span><%=ele.hora%></div>
            </div>
          <% }) %>
        </div>
        <!-- d-none justo debajo -->
        <div id="mostrar"  class="col rounded-end-4" style="background-color:whitesmoke;">
          <div id="asunto" class="row ms-3">
              <button class="btn-close float-end" aria-label="Cerrar" data-bs-dismiss="lector"> </button>
          </div>

          <div class="row ms-3">
            <div class="col">
              Imagen
            </div>

            <div class="col">
              <div class="row">
                Nombre
              </div>
              <div class="row">
                correoOrigen
              </div>
            </div>

            <div class="col">
              <div class="row">
                fecha de envio
              </div>
              <div class="row">
                hora de envio
              </div>
            </div>
          </div>

          <div class="row ms-3">
            Cuerpo
          </div>
          
        </div>
      </div>
    </div>   
    <script src="../javascripts/mydriver.js"></script>
    <script src="../javascripts/mails.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
