<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <div class="fakeBody">
      <%-include('partials/header') %>
      <div class="row pistachio">
        <%-include('partials/info') %>
        <%-include('partials/options') %>
      </div>   
    </div>
    <%-include('partials/footer') %>
    <script src="/javascripts/mydriver.js"></script>
  </body>
</html>
