<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body >
    <%-include('partials/headerLogged') %>
    <div class="row">
      <%-include('partials/infoLogged')%>
      <%-include('partials/options')%>
      
    </div>   
    <script src="javascripts/mydriver.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
