<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body >
    <%-include('partials/header') %>
    <div class="row wasabipowder">
      <%-include('partials/info') %>
      <%-include('partials/options') %>
    </div>   
    <script src="../javascripts/mydriver.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
