<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head')%>
  <body>
    <div class="fakeBody pistachio">
      <%-include('partials/header')%>
        <div class="centerInfo d-flex align-items-center">
            <div id="miElemento" class="container-md claret scrollable-info text-white p-4 rounded-4 my-4">
                <% if(pag === 'aboutus'){ %>
                    <%-include('partials/info/aboutus')%>
                <% }else if (pag === 'ourteam') {%>
                    <%- include('partials/info/ourteam') %>
                <% }else if (pag === 'workhere') {%>
                    <%- include('partials/info/workhere') %>
                <% }else if (pag === 'legalpolicy') {%>
                    <%- include('partials/info/legalpolicy') %>
                <% }else if (pag === 'cookies') {%>
                    <%- include('partials/info/cookies') %>
                <% }else if (pag === 'privacy') {%>
                    <%- include('partials/info/privacy') %>
                <% } else { %>
                    <h1> Aqui no hay nada que ver ... </h1>
                <% } %>
            </div>    
        </div>
    </div>
    <%-include('partials/footer')%>
  </body>
</html>
