<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body >
    <div class="fakeBody pistachio">
    <%-include('partials/header') %>
    <div class="row pistachio">
        <%-include('partials/adminNavbar') %>
        <!-- Nuevo tipo de instalacion -->
        <div class="row ms-1 d-flex justify-content-center">
            <h2>Crear nuevo tipo de instalaciones</h2>
            <div class="col-8">
                <div id="divTipo" class="claret divImage justify-content rounded-4 text-center text-light my-2">
                    <h1 id="nombreTipo" contenteditable="true" class="mx-auto color-white">Click para modificar</h1>
                </div>
            </div>
            <div class="col-4">
                <div class="row my-1">
                    <p>  
                        <span>Disponible desde las </span> <input class="w-25" id="horaIni" type="number" name="numero" value="9" min="9" max="19">
                        <span> hasta las </span> <input class="w-25" id="horaFin" type="number" name="numero" value="20" min="10" max="20"/>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <span>Tipo: </span>
                        <select class="w-50" id="tipo" name="tipo" required>
                            <option hidden selected>Selecciona una opción</option>
                            <option value="individual">Individual</option>
                            <option value="colectivo">Colectivo</option>
                        </select>
                    </p>   
                </div>    
                <div class="row">
                    <p><span>Imagen: </span><input id="formFile" class="form-control" name="foto" accept="image/png, image/jpg, image/jpeg" type="file"></p>
                </div>  
            </div>
            <div class="d-flex justify-content-center">
                <button id="newType" class="btn btn-lg btn-primary mb-2" type="submit" >Añadir tipo</button>
            </div>  
        </div>
        <hr>
        <!-- Nueva instalacion -->
        <div class="row ms-1 d-flex justify-content-center">
            <h2>Crear nuevas instalaciones</h2>
            <div class="col-4">
                <div class="row my-3">
                    <p>
                        <span>Facultad:<span>
                        <select class="text-center" id="facultad" name="facultad">
                            <option hidden selected>Selecciona una opción</option>
                            <% facultades.forEach( ele=> { %>
                            <option value="<%=ele.id%>#<%=ele.nombre%>"><%=ele.nombre%></option>
                            <%})%>
                        </select>
                    </p>
                </div>  
                <div class="row">
                    <p>
                        <span>Tipo: </span>
                        <select class="w-50" id="tipoInstalacion" name="tipo">
                            <option hidden selected>Selecciona una opción</option>
                            <% options.forEach( ele=> { %>
                            <option value="<%=ele.id%>%>"><%=ele.nombre%></option>
                            <%})%>
                        </select> 
                    </p>
                </div>  
            </div>
            <div class="col-4"> 
                <div id="divInstalacion" class="divImage col flex-column rounded-5 text-center me-2 installationCard">
                    <br>
                    <h3 contenteditable id="nombreInstalacion" class="bg-secondary">Click para modificar</h>
                        <h5 class="mt-4 bg-secondary">Aforo máximo: <span contenteditable id="aforoInstalacion"> 1</span> </h5>
                    </div>
                </div>
                <div class="col-4">
                    
                <p><span>Imagen: </span><input id="instalacionFile" class="form-control" name="imagen" accept="image/png, image/jpg, image/jpeg" type="file"></p>
                <button id="newInstall" class="btn btn-lg btn-primary mb-2" type="submit" >Añadir instalación</button>
            </div> 
        </div>
    </div>   
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Atención</strong>
            <small>justo ahora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            
          </div>
        </div>
    </div>
</div>
<%-include('partials/footer') %>
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/newInstallation.js"></script>
</body>
</html>
