<!DOCTYPE html>
<html>
<%-include('partials/head') %>

  <body>
    <%-include('partials/header') %>
      <!-- <%-include('partials/notas') %> -->
    <div class="col-lg-6 innerShadow mx-auto rounded-4 p-4 my-4">
      <h1>Registro</h1>
      <form method="POST" action="submitRegister">
        <!--NOMBRE Y APELLIDOS-->
        <div class="row">
          <div class="col">
            <h4 class="my-3">Nombre</h4>
            <input type="text" name="nombre" placeholder="Nombre">
          </div>
          <div class="col">
            <h4 class="my-3">Primer apellido</h4>
            <input type="text" name="apellido1" placeholder="Apellido 1">
          </div>
          <div class="col">
            <h4 class="my-3">Segundo apellido</h4>
            <input type="text" name="apellido2" placeholder="Apellido 2">
          </div>
        </div>
        <!--CORREO E IMAGEN-->
        <div class="row">
          <div class="col">
            <h4 class="my-3">Correo</h4>
            <input class="w-100" type="text" name="email" placeholder="example@ucm.es">
          </div>
          <div class="col">
            <h4 class="my-3">Imagen de perfil</h4>
            <input type="file" name="imagen" accept="image/png, image/jpg, image/jpeg">
          </div>
        </div>
        <!--CONTRASEÑA Y CONFIRMAR-->
        <div class="row">
          <div class="col">
            <h4 class="my-3">Contraseña</h4>
            <div class="input-group" >
              <input type="password" name="contrasena" id="password" placeholder="Contraseña">
              <button type="button" style="border-radius: 0px 12px 12px 0px;" id="togglePassword">Mostrar</button>
            </div>
          </div>
          <div class="col">
            <h4 class="my-3">Confirma la contraseña</h4>
            <div class="input-group">
              <input type="password" name="contrasenaConf" id="confirmPassword" placeholder="Contraseña">
              <button type="button" style="border-radius: 0px 12px 12px 0px; " id="toggleConfirmPassword">Mostrar</button>
            </div>
          </div>
        </div>
          
        <!--FACULTAD-->
        <div class="row">
          <h4 class="my-3">Facultad</h4>
          <select id="facultad" name="Curso" class="w-100">
            <option hidden selected>Selecciona una opción</option>
            <% resultado.forEach( ele=> { %>
              <option value="<%=ele.id%>"><%=ele.nombre%></option>
            <%})%>
          </select>
        </div>
            
        <!--GRADO Y CURSO-->
        <div class="row">
          <div class="col d-none" id="gradoDiv" >
            <h4 class="my-3">Grado</h4>
            <select id="grado" name="Grado">
              <option hidden selected>Selecciona una opción</option>
            </select>
          </div>
          <div class="col d-none" id="cursoDiv" >
            <h4 class="my-3">Curso</h4>
            <select id="curso" name="Curso">
              <option hidden selected>Selecciona una opción</option>
            </select>
          </div>
        </div>
        <!--BOTON-->
        <div class="row d-flex my-4">
          <input class="row w-50 bg-primary  mx-auto d-block" type="submit" value="Enviar">
        </div>
      </form>
    </div>
    <script src="javascripts/showPswd.js"></script>
    <script src="javascripts/getGroups.js"></script>
    <%-include('partials/footer') %>
  </body>

</html>