<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body >
    <div class="fakeBody pistachio"> 
      <%-include('partials/header') %>
      <div class="row pistachio ">
        <%-include('partials/adminNavbar') %>
          <div id="panel" class=" alignJustify mb-3">
              <div class=" ">
                  <h1>Estadísticas de: <%=res.nombre%></h1>
                  <div class="row">
                    <div class="col text-center">
                      <% if (res.foto){%>
                      <img src="/users/profilePhoto/<%=ele.id%>">
                      <% } else{ %>
                        <img src="/images/noPicture.jpg">
                      <% } %>

                    </div>
                    <div class="col">
                      <h2>Reservas totales:  <%=res.totalReservas%></h2>
                      <h3>Reservas pasadas:  <%=res.reservasPasadas%></h3>
                      <div class="row bg-info">
                        <div class="col">
                          <h4>Asistidas:</h4>
                          <h4>Canceladas:</h4>
                          <h4>Horas pendientes:</h4>
                        </div>

                        <div id="circleAsistidas" class="col">
                        </div>
                      </div>

                      <div id="circlesRow" class="row">
                      </div>
                      <h3>Reservas pendientes:</h3>
                    </div>
                  </div>
                  
              </div>
          </div>
      </div>   
    </div>
    <script src="/javascripts/circles.js"></script>
    <script src="/javascripts/stats.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
